@import "../node_modules/bulma/bulma.sass";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.is-tall {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.is-tall-container {
  flex: 1;
}
